div#nav_content(ng-include='"components/navbar/navbar.html"')


div(ng-controller="HighlighCtrl" collapse="false")
    ng-toast

div.full_height.map_content(ui-view='' ng-class='pageClass ' autoscroll='true')
